<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>yeh html nhi babu ejs hai</h1>
    <p>Hello , EJS  kaise ho aap</p>
    <!-- ejs you can write js as well -->
</body>
</html>