<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add New blogs</h1>

    <form action="/blogs" method="POST">
        <label for="name">Username :</label>
        <input type="text" name="user" id="name">


        <br>
        <br>


        <label for="co">Comment :</label>
        <input type="text" name="com" id="co">

        <br>
        <br>
        <button type="submit"> Add blog</button>

    </form>
</body>
</html>